

@*@{
    ViewBag.Title = "LogOut";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>LogOut</h2>

<li> @Html.ActionLink("LogOut", "LogOut")<span class="glyphicon glyphicon-log-in"></span> </li>*@